asgiref==3.11.1
click==8.3.1
colorama==0.4.6
crispy-bootstrap4==2026.2
cssbeautifier==1.15.4
Django==5.2.12
django-crispy-forms==2.6
django-debug-toolbar==6.2.0
djlint==1.36.4
EditorConfig==0.17.1
flake8==7.3.0
flake8-quotes==3.4.0
flake8-variables-names==0.0.6
iniconfig==2.3.0
jsbeautifier==1.15.4
json5==0.14.0
mccabe==0.7.0
packaging==26.0
pathspec==1.0.4
pep8-naming==0.15.1
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.0.2
pytest-django==4.12.0
PyYAML==6.0.3
regex==2026.3.32
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
tzdata==2025.3
